.form {
  max-width: 600px;
  width: 100%;
  padding: 50px 20px 20px 20px;
  margin: 0 auto;
  outline: 1px solid grey;
  border-radius: 10px;
  background-color: lemonchiffon;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
